h3 {
	text-align: center;
	color: rgb(255, 153, 0);
	font-size: xx-medium;
	font-weight: bold;
}

tbody{
	font-size: 15px;
}

th {
	color: rgba(0, 128, 255);
	font-size: x-large;
}

.col-lg-4{
	
}

 .spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    top: 50%;
    left: 50%;
    position: relative;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.row{
	padding-top: 30px;
}