{% extends 'graphs/base.html'%}

{% block content %}
{% load static %}
	<link rel="stylesheet" href="{% static 'css/graphs.css' %}">
	<div class="row">
		<div class="col-lg-4">
			<h3>ASSISTS</h3>

			<div id="assists_chart"></div>
			<div id="assists_table"></div>
		</div>
		<div class="col-lg-4">
			<h3>BLOCKS</h3>
			<div id="blocks_chart"></div>
			<div id="blocks_table"></div>
		</div>
		<div class="col-lg-4">
			<h3>FIELD GOAL %</h3>
			<div id="field_goal_percentage_chart"></div>
			<div id="field_goal_percentage_table"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<h3>FREE THROW %</h3>
			<div id="free_throw_percentage_chart"></div>
			<div id="free_throw_percentage_table"></div>
		</div>
		<div class="col-lg-4">
			<h3>POINTS</h3>
			<div id="points_chart"></div>
			<div id="points_table"></div>
		</div>
		<div class="col-lg-4">
			<h3>REBOUNDS</h3>
			<div id="rebounds_chart"></div>
			<div id="rebounds_table"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<h3>STEALS</h3>
			<div id="steals_chart"></div>
			<div id="steals_table"></div>
		</div>
		<div class="col-lg-4">
			<h3>THREE POINTS MADE</h3>
			<div id="three_points_made_chart"></div>
			<div id="three_points_made_table"></div>
		</div>
		<div class="col-lg-4">
			<h3>TURNOVERS</h3>
			<div id="turnovers_chart"></div>
			<div id="turnovers_table"></div>
		</div>
	</div>

	<script type="text/javascript" src="{% static 'js/graphs.js' %}"></script>
{% endblock %}